body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: antiquewhite;
}
.nav {
    display: flex;
    font-size: 55px;
    justify-content: center;
    color:rgb(94, 72, 43);
    padding-bottom: 50px;
    background-color: antiquewhite;
    width: 100%;
}

.main {
    display: flex;
    width: 100%;
}

.cookiearea {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

.upgrades {
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: antiquewhite;
    margin-left: 20px;
    justify-content: center;
    margin-top: 30px;
    align-items: center;
}

.cookie {
    width: 500px;
    margin-right: 100px;
}

.cookie:hover{
    transform: scale(1.05);
}

.cookie:active {
    transform: scale(1);
}

.cookiecount {
    margin-right: 200px;
    font-size: 25px;
}

.upgrader {
    height: 80%;
    border: 3px solid black;
    margin-right: 100px;
    width: 80%;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.upgrader:hover {
    transform: scale(1.05)
}

.fakeimg {
    height: 50px;
    width: 50px;
    background-color: gray;
    margin-left: 10px;
    margin-top: 10px;
}

.upgradertext {
    margin-left: 15px;
    font-size: 20px;
    margin: 5px;
    margin-left: 15px;
}

.details {
    margin-right: 60px;
}

.count {
    font-size: 45px;
}

i {
    font-size: 40px;
    margin-left: 10px;
}

.details h2 {
    text-align: center;
}